In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Train.csv")
df.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [3]:
# total missing values in Item_Weight column before imputation

df.Item_Weight.isnull().sum()

1463

In [4]:
# Example reference

(df.loc[df['Item_Identifier'] == "FDX07"]).iloc[:, [0,1]]

     Item_Identifier  Item_Weight
3              FDX07         19.2
1491           FDX07         19.2
2459           FDX07         19.2
3089           FDX07         19.2
5906           FDX07         19.2
7735           FDX07          NaN

### How we are going to fill missing values ?
    From analysis we identified that the weights are exactly same for unique items. 
    Say for example, Item_Identifier - 'FDX07' its corresponding 'Item_Weight' is 19.2

In [5]:
# sort data based of item_weight
temp1 = df.sort_values(by=['Item_Weight'])

# get unique Item_Identifiers and its corresponding Item_Weight
uniqueItemIdentifiers = (temp1.drop_duplicates(subset ="Item_Identifier")).iloc[:, [0,1]]

# covert it to dictinary with identifier as key and weight as value.
uniqueIdentifiers = uniqueItemIdentifiers.set_index('Item_Identifier')['Item_Weight'].to_dict()

# fill missing weights
for i in range(0, len(df)):
    if np.isnan(df.at[i, 'Item_Weight']):
        df.at[i, 'Item_Weight'] = uniqueIdentifiers[str(df.at[i, 'Item_Identifier'])]

In [6]:
# total missing values in Item_Weight column after imputation

df.Item_Weight.isnull().sum()

4

From the above output cell,
### Information 1
    we can infer that there are 4 missing values in Item_Weight column after imputation.
    i.e. 4 item_identifier's doesn't have item_weight in the given data.

In [7]:
# Item_Identifier's that doesn't have Item_Weight

(df[df['Item_Weight'].isna()])['Item_Identifier'].unique()

array(['FDN52', 'FDK57', 'FDE52', 'FDQ60'], dtype=object)

In [11]:
(df.loc[df['Item_Identifier'].isin(["FDN52", "FDK57", "FDE52", "FDQ60"])]).iloc[:, [0,1]]

     Item_Identifier  Item_Weight
927            FDN52          NaN
1922           FDK57          NaN
4187           FDE52          NaN
5022           FDQ60          NaN